body{
    margin: 0px;
}

/* header  */
#body-header{
    opacity: 0.8;
    height: 65vh;
    background-image: url("image/macbook_mouse.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 1.2rem;
}

/* horizontal list  */
.horizontal-list{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li{
    display: inline-block;
    margin: 0px 8px;
}

.horizontal-list li a{
    color: white;
    text-decoration: none;
    transition: color 0.5s,  border-bottom 4s;
}

.nav-bar li a:hover{
    color: lightgrey;
    border-bottom: 1px solid white;
    
}

.text-center{
    text-align:center;
}

/* name  and social icons */
#name-social-container{
    margin-top: 20vh;
}

#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.social-icons li a img{
    padding: 8px; 
    width:1rem;
}

.social-icons li{
    border-radius: 50%;
    
}

.social-icons li:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
    
}



/* about section  */

#about{
    height:auto;
    width: 100%;
    position:relative;
    /* relative :to make image appear on top of image  */
}

#my-image{
          height:12rem;
          width: 12rem;
          margin:auto;
          margin-top:-14vh;
}

#my-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border:2px solid white;
    box-shadow: 0px 0px 6px 4px lightgray ;
}

#about-para{
    color: grey;
    font-size: 1.1rem;
    width:70%;
    line-height: 28px;
    padding:10px;
    text-align: justify; 
    margin:auto;
}

.text-highlight{
    color:#2857a4;
    font-weight:bolder;
}

/* adding flex and css selectors  */
section{
    width: 100%;
    /* height: 75vh; */
    display:flex;
    flex-direction: column;
    margin-bottom:100px;
    /* box-sizing: border-box; */

}

section:nth-child(2n){
    background-color: rgba(235, 230, 232, 0.377);
    margin-bottom:100px;
}

section:nth-child(2n+1){
    background-color:#ffffffff; 
}


/* skill section  */
.section-heading{
    color:blue;
    width:auto;
    padding: 20px 10px 10px; 
    font-weight: 400;
}

.mb75px{
    margin: auto;
    margin-bottom:25px; 
}

.skills-display{
    width: 75%;
    margin:auto;
     display:flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-evenly;
}

.skill-progress{
    width:11rem;
    height:2.2rem;
    /* border:1px solid black; */
    border-radius:  1rem;
    margin: 40px 25px;
    background-color: rgba(207, 206, 206, 0.911);
}

.skill-progress div{
    border-radius:1rem 0rem 0rem 1rem;
    text-indent: 0.4rem;
    line-height:2rem;
    font-size: 1.1rem;
    font-weight: 400;
    
}



#cplus{
    width:80%;
    height:100%;
    background-color: blue;
    color:white;
}

#html{
    width:90%;
    height:100%;
    background-color:orangered ;
    color:white;
}

#css{
    width:80%;
    height:100%;
    background-color: violet;
    color:white;
}

#js{
    width:35%;
    height:100%;
    background-color: darkgreen;
    color:white;
}

#java{
    width:90%;
    height:100%;
    background-color:blue ;
    color:white;
}

#android{
    width: 30%;
    height:100%;
    background-color:darkgreen ;
    color:white;
}

#ios{
    width: 25%;
    height:100%;
    background-color:orangered ;
    color:white;
}

#nodejs{
    width: 80%;
    height:100%;
    background-color:violet ;
    color:white;
}

/* portfolio section  */

#portfolio{
    height: auto;
}

.portfolio-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:auto;
}
   

#portfolio-image-container{
    max-width: 300px;
    overflow: hidden;
    margin: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#portfolio-image-container img {
    width: 100%;
    height: 100%;
}


#project-description{
    transition: all 0.5s ease-in-out; 
    position: absolute;
    font-size: 1.2rem;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent; 
    text-align: center;
    padding: 70px;
}

#portfolio-image-container:hover {
    box-shadow: 0px 0px 10px 2px rgba(120, 214, 214, 0.856);
}

#portfolio-image-container:hover #project-description{
    color:white;
    background-color: #80808078;

}

/* experience section  */

.timeline{
    position: relative;
    width:75%;
    /* border:2px solid black;  */
    margin: auto;
}

.timeline-box{ 
    position: relative;
    margin: 5px;
    width: 40%;
    min-height: 150px;
    left:5%;
    /* border:2px solid black;   */
}

.timeline-box:nth-child(2n){
   position: relative;
    left:53%;
}

.timeline-box:nth-child(2n+1)::after{
    content: '';
    width:0.5rem;
    height:0.5rem;
    border-radius: 50%; 
    background-color:grey;
    position: absolute;  
    top:45%;
    right:-12.5%;
    z-index: 1;
}

.timeline-box:nth-child(2n)::after{
    content: '';
    width:0.5rem;
    height:0.5rem;
    border-radius: 50%; 
    background-color:grey;
    position: absolute;  
    top:22%;
    left:-9.75%;
    z-index: 1;

}

.name div:nth-child(3){
    font-size: 0.8rem;
}

.timeline-divider{
    position: absolute;
    height: 70%;
    width: 0;
    top:12%;
    left:50%;
    border: 1px dashed #0096fa6b;   
    
}

.timeline-traveller{
    transform: rotate(90deg);
    position:sticky;
    top: 30%; 
    z-index: 2;
} 


.logo{
    display: inline-block;
    position: absolute;
    left: 0%;
    top:0%;
}

.name {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.description{
    position: absolute;
    top:50%;
    left: 0%;
    margin: -5% 0 0 0;
    font-size: 1rem;
}


.name h3{
    color: blue;
    margin-top: -1.72px; 
}

.name h4{
    color:orangered;
    margin: -18.72px 0 ;
}

.timeline-box p{
    font-size: 14px;
    padding:2px;
    /* line-height:20px;  */
    text-align: justify;
}
















/* contact section  */
#contact{
    background:linear-gradient(to right,#2857a4,#403066);
    height:auto;
    color:white;
    
}

#contact .section-heading {
    color:white;
    width:auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

#contact-container{
    display:flex;
    flex-wrap: wrap;
}

#contact-container div{
    margin:20px 15px 10px 40px;
}


textarea , input{
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



input[type="placeholder"]{
    color:gray;
}

 #details button{
    border:1px solid white;
    background:transparent;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
 }

 #details button:hover{
    background: white;
    color: #13386fe0;
 }

 #details{
      width:45%

 }

 #site-details{
    width: 43%;
 }
 #address div{
    margin-left: -1px;
 }


 #icons{
    width:50%;
    margin:20px auto;
 }

 



























